* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

:root {
  --text-color: #667085;
  --main-color: #8E2424;
}

body {
  width: 100%;
  height: 100vh;
}

.cabecalho {
  padding: 24px 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
  width: 1280px;

}
.marca{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 8px;
}

.menu{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  color: var(--text-color);
}

.menu-item{
  font-weight: 500;
  line-height: 24px;
}

.menu-item:hover {
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.08);
  margin-top: -3px;
}

.menu-item a{  
  text-decoration: none;
}

#space{
  width: 142px;
}

.botoes{
  display: flex;
  align-items: center;
  gap: 12px;
}

#entrar {
  width: 83px;
  outline: none;
  border: none;
  background: transparent;
  
  color: var(--text-color);
}

#cadastrar{
  box-sizing: border-box;
  width: 112px;
  height: 44px;
  background: var(--main-color);
  border: 1px solid var(--main-color);
  padding: 10px 18px;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  color: #FFFFFF;
}

#cadastrar, #entrar{
  font-weight: 500;  
  border-radius: 8px;
  cursor: pointer;
}

/* Seção Principal */

.principal{
}

.sobre-nos{
  width: 100%;
  margin: 96px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  
}

.sobre-nos span{
  color: var(--main-color);
  font-weight: 600;
  line-height: 24px;
  font-size: 1rem;
}

.sobre-nos h1{
  display: block;
  font-size: 2rem;
  font-weight: 600;
  line-height: 68px;
  color: #101828
}

.sobre-nos p{
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  color: var(--text-color);
  width: 791px;
}

/* Métricas */

.metricas-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 96px;
  gap: 32px;
}

.metricas-container-item {
  width: 280px;
  height: 168px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap:12px;
}

.metricas-container-item-valor {
  color: var(--main-color);
  font-size: 60px;
  font-weight: 600;
}

.metricas-container-item-titulo {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  align-self: stretch;
}

.metricas-container-item-descricao {
  color: var(--text-color);
  line-height: 24px;
}
