* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

:root {
  --text-color: #667085;
  --main-color: #8E2424;
  --dark-grey-text: #101828;
}

body {
  width: 100%;
  max-width: 90em;
  height: 100vh;
  margin: 0 auto;
}

.cabecalho {
  padding: 1.5em 5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
  width: 1280px;

}
.marca{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 8px;
}

.menu{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  color: var(--text-color);
}

.menu-item{
  font-weight: 500;
  line-height: 24px;
}

.menu-item:hover {
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.08);
  margin-top: -3px;
}

.menu-item a{  
  text-decoration: none;
  color: var(--text-color)
}

#space{
  width: 142px;
}

.botoes{
  display: flex;
  align-items: center;
  gap: 12px;
}

#entrar {
  width: 83px;
  outline: none;
  border: none;
  background: transparent;
  
  color: var(--text-color);
}

#cadastrar, .cadastrar{
  box-sizing: border-box;
  width: 112px;
  height: 44px;
  background: var(--main-color);
  border: 1px solid var(--main-color);
  padding: 10px 18px;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  color: #FFFFFF;
}

#cadastrar, #entrar, .cadastrar{
  font-weight: 500;  
  border-radius: 8px;
  cursor: pointer;
}

/* Seção Principal */

/* Geral */
.span {  
  font-size: 1em;
  color: var(--main-color);
  font-weight: 600;
  line-height: 1.5em;
}

.h1{
  display: block;
  font-size: 2.25em;
  font-weight: 600;
  line-height: 4.187em;
  color: var(--dark-grey-text)
}

.paragrafo{
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  color: var(--text-color);
  width: 791px;
}

.principal{
}

.sobre-nos{
  width: 100%;
  margin: 96px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  
}

.sobre-nos h1{
  font-size: 2.75em;
}

/* Métricas */

.metricas-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 96px;
  gap: 32px;
}

.metricas-container-item {
  width: 280px;
  height: 168px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap:12px;
}

.metricas-container-item-valor {
  color: var(--main-color);
  font-size: 60px;
  font-weight: 600;
}

.metricas-container-item-titulo {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  align-self: stretch;
}

.metricas-container-item-descricao {
  color: var(--text-color);
  line-height: 24px;
}

/* Vagas */
.vagas, .comments{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;

  padding: 96px 80px 96px 80px;
  gap: 64px;
}

.vagas-texto {
  display: block;
  text-align: center;
}

.vagas-texto span{
  background: rgba(142, 36, 36, 0.05);
  padding: 0.25em 0.75em;
  border-radius: 1em;
}

.vagas-container {  
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 64px;
}

.vagas-lista{
  display: flex;
  flex-direction: column;
  align-items: flex-star;
  gap: 32px;
  padding: 0px 256px;
}

.vagas-lista h2, h3{
  font-weight: 700;
}

.vagas-lista div{
  padding:24px;
  border: 1px solid rgba(16, 24, 40, 0.05);
  border-radius: 8px;
}

.vagas-lista h3{  
  margin-bottom: 32px;
}

.vagas-lista p{
  color: var(--text-color);
  display: inline-block;
  margin-right: 24px;
}

/* Comentários */
.comments{
  width: 100%;
}

.comments-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 2em;
  background: rgba(142, 36, 36, 0.05);
  padding: 4em;
  gap:2em;
}

.comments-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.comments-title h1{
  margin-top: 1em;
  line-height: 1.2em;
  text-align: center;
}

.comments-contributor {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.comments-contributor img {
  width: 3.5em;
}

.comments-text{
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25em;
}

.comments-text p{
  font-weight: 500;
  color: var(--dark-grey-text)
}

.comments-text .paragrafo{
  font-size: 1em;
  color: var(--text-color)
}

.rodape {
  width: 100%;
}

.footer-container{  
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: #F9FAFB;
  padding: 6em 0;
  gap: 2em;
}

.footer-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}

.footer-content-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25em;
  margin-bottom: 2.5em;
}

.footer-content-head h1{
  font-family: 'Inter', sans-serif;
  font-size: 2.25em;
  font-weight: 600;
  color: var(--dark-grey-text);
  letter-spacing: -0.02em;
}

.footer-content form{
  display: flex;
  gap: 1em;
}

.input-email{
  width: 22.5em;
  border-radius: 0.5em;
  border: 1px solid #f6f8f9;
  padding-left: 1.2em;
}

.input-email:focus {
  outline: none;
}

.copyright {
  font-weight: 400;
  color: #98A2B3;
}